{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="row">
        {{ form_start(form) }}
        {{ form_widget(form) }}
    <label for="role">Role:</label>
    <select name="role" id="role">
        <option value="ROLE_USER">Utilisateur</option>
        <option value="ROLE_ADMIN">Administrateur</option>
    </select>
        <button type="submit" class="btn btn-success pull-right">Créer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
